<html>
<title>Search Tickets</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/main.css">
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <form action="/" method="get" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input name="search" value='<%= params[:search] %>' type="text" class="form-control" placeholder="Enter keyword">

          <div class="form-group">
            <label for="category">Select a Category</label>
            <select class="form-control" name="category">
              <%= select_previously_selected_category('tickets') %>
              <%= select_previously_selected_category('organizations') %>
              <%= select_previously_selected_category('users') %>
            </select>
          </div>

        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </nav>
  <div class="main-body">
    <% if session[:message] %>
      <div class="alert alert-success">
        <div class="container">
          <%= session.delete(:message) %>
          <a href="/">Return to home</a>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>